<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask avec Jinja2</title>
</head>
<body>
    <form action="/" method="GET">

        <input type="number" value={{numbero}} id="numbero" required>
        <br><br>

        <input type="submit" value="Envoyer">
    </form>  <h1>Bienvenue, {{ data.name }} !</h1>
    <p>Âge: {{ data.number }}</p>
    <p>Ville: {{ data }}</p>

    <h2>Compétences :</h2>
    <ul>
        {% for skill in data.skills %}
            <li>{{ skill }}</li>
        {% endfor %}
    </ul>
</body>
</html>
